<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="edition">
      <h2 data-cy="editionDetailsHeading"><span jhiTranslate="jhipsterBookApp.edition.detail.title">Edition</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ edition.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterBookApp.edition.dayOfPublication">Day Of Publication</span></dt>
        <dd>
          <span>{{ edition.dayOfPublication }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterBookApp.edition.monthOfPublication">Month Of Publication</span></dt>
        <dd>
          <span>{{ edition.monthOfPublication }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/edition', edition.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
