<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-edition-heading" data-cy="EditionCreateUpdateHeading" jhiTranslate="jhipsterBookApp.edition.home.createOrEditLabel">
        Créer ou éditer un Edition
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterBookApp.edition.dayOfPublication" for="field_dayOfPublication"
            >Day Of Publication</label
          >
          <input
            type="number"
            class="form-control"
            name="dayOfPublication"
            id="field_dayOfPublication"
            data-cy="dayOfPublication"
            formControlName="dayOfPublication"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsterBookApp.edition.monthOfPublication" for="field_monthOfPublication"
            >Month Of Publication</label
          >
          <input
            type="text"
            class="form-control"
            name="monthOfPublication"
            id="field_monthOfPublication"
            data-cy="monthOfPublication"
            formControlName="monthOfPublication"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
